* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mycontainer {
  width: 1500px;
}

nav {
  background-color: #007878;
  padding: 12px 0 12px 0;
  width: 100%;
}
nav .mycontainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mycontainer .phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mycontainer .phone span {
  margin-left: 14px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
nav .mycontainer ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
nav .mycontainer ul li {
  color: rgba(255, 255, 255, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  padding-right: 18px;
}
nav .mycontainer ul :last-child {
  padding-right: 0;
}

.navbar {
  width: 100%;
}
.navbar .mycontainer {
  margin: auto;
}
.navbar .mycontainer .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  width: 100%;
}
.navbar .mycontainer .search .left,
.navbar .mycontainer .search .right,
.navbar .mycontainer .search .right ul {
  display: flex;
  align-items: center;
}
.navbar .mycontainer .search .left p {
  color: #000;
  font-family: Palanquin;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  margin-right: 46px;
}
.navbar .mycontainer .search .left .search_products {
  width: 504px;
  height: 48px;
  border-radius: 8px;
  background: #f7f9fc;
  margin-right: 57px;
  padding: 15px 0px 14px 16px;
}
.navbar .mycontainer .search .right ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.navbar .mycontainer .search .right ul li {
  padding-right: 26px;
}
.navbar .mycontainer .search .right ul li span {
  color: #2e2e2e;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}
.navbar .mycontainer .search .right ul li img {
  width: 24px;
  height: 24px;
}
.navbar .mycontainer .search .right ul :last-child {
  margin-right: 0;
}
.navbar .mycontainer .search .right ul p {
  margin: 0;
}
.navbar .mycontainer .bag_categories ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding-left: 0;
  width: 950px;
}
.navbar .mycontainer .bag_categories ul li {
  color: #273142;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.navbar .mycontainer .bag_categories ul :last-child {
  margin-right: 0;
}

.pink_section {
  margin: 0 auto;
  background: #ffe2e0;
}
.pink_section .mycontainer {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.pink_section .mycontainer .shopbtn {
  width: 192px;
  height: 52px;
  border-radius: 8px;
  background-color: #206363;
  color: #ffffff;
}
.pink_section .mycontainer .left .left,
.pink_section .mycontainer .left h1 {
  width: 415px;
  height: 68px;
  color: #212121;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
}
.pink_section .mycontainer .left h2 {
  color: #df4244;
  width: 88px;
  height: 41px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.pink_section .mycontainer .left p {
  width: 453px;
  height: 81px;
  color: rgb(117, 117, 117);
  /* color:  #212121; */
  margin-bottom: 48px;
}

.grey_section {
  padding: 48px 0;
  background: #f7f7f7;
}
.grey_section .mycontainer {
  margin: auto;
}
.grey_section .mycontainer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
}

.four_slider {
  padding-top: 80px;
}
.four_slider .mycontainer {
  margin: auto;
}
.four_slider .mycontainer .row .card {
  width: 250px;
  height: 200px;
}
.four_slider .mycontainer .row .card .card_header {
  margin: 0;
  padding: 24px 0 0 24px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
}
.four_slider .mycontainer .row .card img {
  width: 163px;
  height: 145px;
}/*# sourceMappingURL=main.css.map */